<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2 th:text="${date}"></h2>
<h4 th:unless="${tasks.size()!=0}">Nothing planed!</h4>

<div th:if="${tasks.size()!=0}">
    <h4>Tasks</h4>
    <table>
        <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Time</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="task:${tasks}">
            <td th:text="${task.getTitle()}"></td>
            <td th:text="${task.getDescription()}"></td>
            <td th:text="${task.getTime()}"></td>

            <td><a th:href="@{/task/delete/{date}/{id}(date=${task.getDate()},id=${task.getId()})}">Delete</a></td>
        </tr>
        </tbody>
    </table>
</div>
<div>
    <form action="#" th:action="@{/day/add/{year}(year=${date})}" th:object="${task}" method="post">
        <label for="title">Title</label>
        <input type="text" th:field="*{title}" id="title">

        <label for="description">Description</label>
        <input type="text" th:field="*{description}" id="description">

        <select th:field="*{date}" hidden>
            <option th:value="${date}" selected></option>
        </select>

        <label for="time">Time</label>
        <input type="time" th:field="*{time}" id="time">

        <button type="submit">Add</button>
    </form>
</div>
<div>
    <a th:href="@{/calendar/{date}(date=${date.substring(0,7)})}">Back</a>
</div>
</body>
</html>